.autocomplete__list {
  position: absolute;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
}

.autocomplete__list li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete__list li:hover {
  background-color: #ddd;
}
